<!DOCTYPE html>
<html>
<head>
    <title>create new post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
         footer {
            background-color: #1e2229;
            color: turquoise;
            text-align: center;
            padding: 0em 0;  
            position: fixed;
            bottom: 0;
            width: 65%;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            color: aqua;
        }

        h6 {
            color: rgb(88, 64, 224);
        }
    </style>
</head>
<body>
    <div class="container"><br>
        <h1 align="center"><u>Create new post</u></h1><br><hr>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <h6>{{ form.as_p }}</h6>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
    </div>

    <footer>
        <p>&copy; 2024 Dev_aladinh production</p>
    </footer>
</body>
</html>